@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li, a {
	color: black;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

ul, li {
	list-style: none;
	padding: 0;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 1.5em 2.5em;
}

.logo {
	margin-right: auto;
}

.nav_links { list-style: none; }

.nav_links li {
	display: inline-block;
	letter-spacing: 1pt;
	padding: 0px 20px;
}

.nav_links li a:after {    
	content: "";
	margin-top: 5px;
	display: block;
	height: 5px;
	background: blue;
	transition: width 0.75s ease 0s, left 0.75s ease 0s;
	width: 0;
}

.nav_links li a:hover::after { 
	width: 100%;
}

.active {
	color: blue;
}

/* Mobile nav*/

.overlay {
	height: 100vh;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	overflow-x: hidden;
}

.overlay_menu {
	height: 100vh;
	width: 100%;
	background-color: blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}

.overlay_menu a {
	text-transform: uppercase;
	color: white;
	font-size: 22px;
	letter-spacing: 1pt;
	padding: 3em;
}

#mobile_menu { display: none; }

/* End of Mobile nav*/

.work {
	height: 100%;
}

.work_links {
	margin-top: 20px;
	font-size: 80px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #1e166b;
}

.work_links a:link {
	color: white;
	text-decoration: none;
}

.work_links a:hover {
	color: #ed7124;
}

/* Project descriptions */
.project {
	min-height: 500px;
	display: grid;
	grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
	grid-column-gap: 40px;
	align-items: center;
	padding: 50px;
}

.project_title {
	grid-column-start: 3;
	grid-column-end: span 12;
	font-family: 'Poppins', sans-serif;
	color: #ed7124;
}

.project_desc {
	grid-column-start: 3;
	grid-column-end: span 8;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	font-family: 'Poppins', sans-serif;
}

.project_header {
	grid-column-start: 3;
	grid-column-end: span 1;
	display: flex;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;

}

.project_info {
	grid-column-start: 4;
	grid-column-end: span 4;
	display: flex;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

.details, .details2 {
	display: grid;
	grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
	grid-column-gap: 40px;
	align-items: center;
	padding: 50px;
	font-family: 'Poppins', sans-serif;
}

.header_number {
	grid-column-start: 3;
	grid-column-end: span 1;
	background-color: blue;
	border-radius: 50%;
	color: white;
	display: inline-block;
	font-size: 70%;
	height: 2.2rem;
	width: 2.2rem;
	line-height: 2.2rem;
	text-align: center;
	vertical-align: top;
}

.details_header {
	grid-column-start: 4;
	grid-column-end: span 4;
}

.details_desc {
	grid-column-start: 4;
	grid-column-end: span 4;
	font-size: 15px;
	margin-bottom: 5em;
}

.details_img {
	grid-column-start: 9;
	grid-column-end: span 4;
	display: flex;
	justify-content: center;
	align-self: center;
}

.testcase_img {
	align-self: flex-start;
}

/*.plus a:link {
	text-decoration: none;
}

.plus a:hover {
	color: #ed7124;
}

.plus h1 {
	text-align: center;
	font-size: 120px;
}

.about {
	text-align: center;
	font-size: 16px;
	padding-top: 4em;
}

.left-div {
	display: inline-block;
  	max-width: 600px;
  	margin: 15px;
  	vertical-align: top;
}

.right-div {
  display: inline-block;
  max-width: 400px;
  text-align: justify;
  margin: 15px;
}

.right-div h1 {
	font-size: 50px;
	color: #ed7124;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #1e166b;
}

.right-div p {
	font-family: 'Poppins', sans-serif;
}

.contact {
	color: #fff;
	background-color: blue;
	font-family: 'Poppins', sans-serif;
	padding: 2em;
	text-align: center;
}

.contact h1 {
	font-size: 50px;
}

.contact p {
	font-size: 20px;
	font-weight: bold;
}

.fa-linkedin-in:before {
	color: #ed7124;
}

.fa-envelope:before {
	color: #ed7124;
}*/

@media screen and (max-width: 786px) {
	li, a {
		-webkit-tap-highlight-color: transparent; /* transparent with keyword */
		-webkit-tap-highlight-color: rgba(0,0,0,0); /* transparent with rgba */
		-webkit-tap-highlight-color: hsla(0,0,0,0); /* transparent with hsla */
		-webkit-tap-highlight-color: #00000000; /* transparent with hex with alpha */
		-webkit-tap-highlight-color: #0000; /* transparent with short hex with alpha */
	}

	a:focus {
    	outline: none; /* no outline - for most browsers */
    	box-shadow: none; /* no box shadow - for some browsers or if you are using Bootstrap */
	}

	header { display: none; }

	.toggle {
		right: 0;
		z-index: 1;
		padding: 1.5em 2.5em;
		position: absolute;
		cursor: pointer;
	}

	.bar1, .bar2, .bar3 {
		width: 30px;
		height: 3px;
		background-color: #ed7124;
		margin: 6px 0px;
		transition: all 0.4s ease 0s;
	}

	.change .bar1 {
  		-webkit-transform: rotate(-45deg) translate(-4px, 5px);
  		transform: rotate(-45deg) translate(-4px, 5px);
  		background-color: #ed7124;
	}

	.change .bar2 { opacity: 0; }

	.change .bar3 {
  		-webkit-transform: rotate(45deg) translate(-8px, -9px);
  		transform: rotate(45deg) translate(-8px, -9px);
  		background-color: #ed7124;
	}

	.logo, .nav_links { display: none; }

	.overlay_menu, .overlay_menu a { visibility: visible; }

	.work {
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.work_links {
		font-size: 40px;
		line-height: 1.7;
	}

	.project, .details, .details2 { grid-column-gap: 10px; }

	.project_title {
		grid-column-start: 2;
		grid-column-end: span 12;
		margin-top: 2.5em;
	}

	.project_desc {
		grid-column-start: 2;
		grid-column-end: span 12;
		margin: 2.5em 0;
	}

	.project_header {
		grid-column-start: 2;
		grid-column-end: span 1;
	}

	.project_info {
		grid-column-start: 3;
		grid-column-end: span 12;
	}

	.details_img {
		order: 1;
		grid-column-start: 1;
		grid-column-end: span 12;
		display: flex;
		justify-content: center;
		margin-bottom: 2em;
	}

	.testcase_img {
		width: 100%;
	}

	.header_number {
		order: 2;
		grid-column-start: 2;
		grid-column-end: span 1;
	}

	.details_header {
		order: 3;
		grid-column-start: 3;
		grid-column-end: span 12;
	}

	.details_desc {
		order: 4;
		margin: 2em 0 3em 0;
		grid-column-start: 2;
		grid-column-end: span 12;
	}

	/*.about {
		padding: 2em;
	}

	.left-div img {
		max-width: 100%;
		height: auto;
	}

	.contact {
		height: 100%;
	}

	.contact, .about, .navbar {
		max-width: 100%;
	}

	.contact h1 {
		display: none;
	}

	.contact p {
		padding-top: 10em;
	}*/

}