@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*@font-face {
  font-family: Akira Expanded;
  src: url(Akira Expanded Demo.otf);
}*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-background-color: #fef2fe;
	--main-font: 'Inter', sans-serif;
	--main-font-color: #000000;
	--secondary-color: #f7f7f7;
}

::selection {
	background: #eeaeca;
}

html {
	background: var(--main-background-color);
	font-family: var(--main-font);
	color: var(--main-font-color);
	letter-spacing: -0.06rem;
	scroll-behavior: smooth;
}

li, a {
	color: #000;
	text-decoration: none;
	font-weight: 500;
}

ul, li {
	list-style: none;
	padding: 0;
}


nav a:hover {
	/* Fallback: Set a background color. */
  	background-color: #e4a3d1;
  
  	/* Create the gradient. */
  	background-image: linear-gradient(45deg, #eeaeca 0%, #94bbe9 100%);
  
  	/* Set the background size and repeat properties. */
  	background-size: 100%;
  	background-repeat: repeat;

  	/* Use the text as a mask for the background. */
  	/* This will show the gradient as a text color rather than element bg. */
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent; 
  	-moz-background-clip: text;
  	-moz-text-fill-color: transparent;
}

.sidebar {
	width: 35%;
}

.sidebar-introduction {
	position: relative;
}

.sidebar-images {
	position: absolute;
	z-index: -1;
}


.nav_links, .footer_links { list-style: none; }

.nav_links li, .footer_links li {
	display: inline-block;
	padding: 0px 20px;
}

.gap-top { min-height: 20vh; }

.container {
	width: 100%;
	padding: 0 3em;
}

.row { display: flex; }

.col-70 {
	float: left;
	width: 70%;
}

.col-60 {
	float: left;
	width: 60%;
}

.col-50 {
	float: left;
	width: 50%;
}

.col-30 {
	float: left;
	width: 30%;
}

.col-20 {
	float: left;
	width: 20%;
}
