@import url('https://fonts.googleapis.com/css2?family=Inter&family=Google+Sans+Code&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-background-color: #fef2fe;
	--main-font: 'Inter', sans-serif;
	--main-font-color: #000000;
	--secondary-font: 'Google Sans Code', monospace;;
	--secondary-color: #838383;
}

::selection {
	background: #eeaeca;
}

html {
	background: var(--main-background-color);
	font-family: var(--main-font);
	color: var(--main-font-color);
	letter-spacing: -0.06rem;
	scroll-behavior: smooth;
}

body {
	display: flex;
	padding: 3rem;
	gap: 10rem;
}

li, a {
	color: #000;
	text-decoration: none;
	font-weight: 500;
}

ul, li {
	list-style: none;
	padding: 0;
}

.sidebar {
	width: 20%;
}

.main {
	width: 80%;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	column-gap: 3rem;
	row-gap: 5rem;
}

.sidebar-introduction {
	position: relative;
	text-align: center;
	height: 20vh;
  max-height: 20vh;
}

.introduction-text {
	display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.sidebar-contact {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.sidebar-contact .email {
	font-family: var(--secondary-font);
	background-color: rgba(0,0,0,0.05);
	border: 1px solid var(--main-font-color);
	border-radius: 40px;
	padding: 0.5rem 1rem;
	width: fit-content;
}

.project .secondary span:not(:last-child) {
  margin-right: 0.5rem;
}

.project img {
	width: 100%;
}

.absolute--left {
	position: absolute;
	left: 0;
	z-index: -1;
}

.absolute--right {
	position: absolute;
	right: 0;
	z-index: -1;
}

.absolute--bottom {
	position: absolute;
	bottom: 0;
	z-index: -1;
}

.uppercase {
	text-transform: uppercase;
}


img.sticker {
	width: 90px;
	height: auto;
}

.rotate-45 {
	transform: rotate(45deg);
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.secondary {
	font-family: var(--secondary-font);
	color: var(--secondary-color);
}

.row { display: flex; }

.col-70 {
	float: left;
	width: 70%;
}

.col-60 {
	float: left;
	width: 60%;
}

.col-50 {
	float: left;
	width: 50%;
}

.col-30 {
	float: left;
	width: 30%;
}

.col-20 {
	float: left;
	width: 20%;
}


@media screen and (max-width: 749px) {
	body {
		flex-direction: column;
		gap: 2rem;
	}

	.sidebar, .main {
		width: 100%;
	}

	.main {
		grid-template-columns: unset;
		row-gap: 2.5rem;
	}
}