* {
	height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a:link {
	color: white;
}

.title {
	position: absolute;
	font-family: 'Suranna', serif;
	padding: 13em 35em 0 0;
	right: 0;
}

.title p {
	position: absolute;
	font-size: 100px;
	line-height: 70%;
}

.title p:first-child {
	font-size: 35px;
}

.parallax, .parallax2 {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax {
	background-image: url('../img/mixkit.png');
}

.nav {
	display: block;
	text-align: center;
	word-spacing: 2em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	padding: 2em;
}

/*================================================
Start Important Part
==================================================*/
.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 100% 88%;
}

/*================================================
End Important Part
==================================================*/

.banner p:first-child {
	font-family: 'Suranna', serif;
	text-align: center;
	color: #b5076b;
	padding-top: 1.5em;
	font-size: 30px;
	height: 20%;
}

.banner p {
	margin: auto;
	width: 60%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	height: 15%;
	line-height: 20pt;
}

.banner_bird { text-align: center; }
.bird { width: 200px; height: auto; margin-top: 5%;}

.parallax2 {
	background-image: url('../img/mixkit2.png');
	background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
}

.characteristics {
	position: absolute;
	padding-left: 30%;
}

.characteristics h1 {
	font-family: 'Suranna', serif;
	font-size: 40px;
	padding-top: 2em;
}

.wrapper {
	position: absolute;
	padding: 17rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

.section {
	padding: 2rem 0 0 5rem;
	width: 50%;
	height: 0;
	font-family: 'Montserrat', sans-serif;
}

.section p { font-size: 15px; line-height: 1.8 }

.footer {
	width: 100%;
	background-color: #353259;
	padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

.footer p, li {
	font-size: 14px;
	line-height: 20px;
	color: white;
}

.section_wrapper {
	font-family: 'Montserrat', serif;
	padding: 5rem 9rem 0rem 4.25rem;
	min-width: 12.5rem;
}

.section_item {
	padding: 1.25rem 1rem;
	min-width: 12.5rem;
}

.section_item ul {
	padding-left: 0;
	list-style: none;
}

.footer, .section_wrapper, .section_item { height: 40%; }
.footer li { height: 30%; }
.section_item h2 { font-family: 'Suranna', serif; color: white; }
.section_item li { font-family: 'Montserrat', serif; }

@media screen and (max-width: 786px) {
	.title {
		width: 100%;
		padding: 50% 10% 0 10%;
	}

	.bird { display: none; }

	.wrapper { padding: 12rem 1.875rem; }

	.characteristics { padding: 5%; text-align: center; }
	.characteristics h1 { font-size: 30px; padding: 0;}

	.section { width: 100%; height: 80%; padding: 1em 0 0 1em;}
	.section2 { display: none; }

	.footer { display: none; }

}